[44;1m[1;33m【侠客行游戏规则】                                            [37;0m

[1;33m＊请勿使用易引起混乱或不雅观的中、英文名字。巫师保有更改玩家的
[1;33m  中、英文名字直至删除其档案的权利。

[1;33m＊严禁故意使用和他人一模一样的姓名，违者将被迫改名或删除档案。

[1;33m＊严禁辱骂任何一位巫师或玩家，违者档案将被删除。

[1;33m＊严禁多重上线，违者最强帐号将被删除。
[1;37m  多重上线即同一人在同一站点同时操纵两个或以上的人物。网吧玩家
  也必须遵守。多重上线是对人数进行管制，每一真正玩家在任何时候
  只能登陆一个帐号，真有三个玩家便容许登陆三个帐号，并不以机器
  数目多寡来决定。以此例类推，严防使用大米帮助主帐号。

[1;33m＊严禁多人共用一个人物，违者最强帐号将被删除。
[1;37m  帮人练功皆依共用人物条例处分。

[1;33m＊严禁公开或私下ＦＬＯＯＤ，违者档案将被删除。

[1;33m＊严禁泄露谜题，机关解法，违者数据将被调整至原有的７０％。

[1;33m＊严禁利用ＢＵＧ牟利，违者数据将被调整至原有的７０％。如果情况
  太严重，档案将被删除。处分由巫师酌情商定。

[1;33m＊允许互相ＰＫ，下毒，抢劫，行窃。但严禁对侠客行进行破坏性ＰＫ。
  违者档案将被删除。
[1;37m  破坏性ＰＫ即一切阻碍游戏正常发展的大规模残杀及一切阻碍玩家进
  行游戏的连续杀戮。宽限暂定为下，若有改变将预先通知：
  １）一日之内不得杀超过五位玩家
  ２）一日之内不得主动直接或间接连杀同一玩家超过两次(正当防卫或其它应属例外)
  ３）不得连续超过三天每天杀超过五位玩家

[1;33m＊请在公开交谈时尽量使用中文。

[1;33m＊请用 tell 或 reply 来进行私人交谈。


[44;1m[1;33m【侠客行执行规则】                                            [37;0m

[1;33m＊请不要因一时意气用事而自杀，自杀者不得复档。

[1;33m＊玩家移数不得转移到其他站点。

[1;33m＊如果玩家数据出现问题，巫师将以最近的备份挡案恢复。如数据仍有
  误差，巫师将不会进一步帮玩家修复。

[1;33m＊如果玩家对侠客行规则参生争议，以巫师的解释为准。

[1;33m＊所有巫师除了必须遵守以上规则外，还要遵守巫师规则。

[1;36m巫师协会保留对犯规行为采取任何处理办法的权利。
